/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px; 
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #e6e2e2; /* this is the same 
    color as the border was, thats why it wasn't showing.
    it controls the entire page, like a parent of all parents.
    you can also use this background-color tag in child elements too
     */
}

.align-center {
    margin:15px;
    border: 1px dashed #CCC;
}